{
  "node": {
    "args": [],
    "port": 9252,
    "rfcTimeout": 10,
    "bindAddr": "0.0.0.0"
  },
  "restart": {
    "terminateTimeout": 5,
    "errorForgetTime": 600,
    "maxCloseErrors": 3,
    "maxBlockTime": 1800,
    "maxInitTime": 900
  },
  "api": {
    "port": 3001
  },
  "pool": {
    "notify": {
      "url": "https://blockexplorer.smart-crypto-tech.co.uk",
      "interval": 30
    }
  }
}
